version: '3.8'

services:
  node1:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blockchain-node1
    ports:
      - "3000:3000"
      - "8080:8080"
    environment:
      - NODE_PORT=3000
      - NODE_NAME=node1
      - PEERS=node2:3001,node3:3002
    networks:
      - blockchain-network
    volumes:
      - ./data/node1:/app/data
    command: ./node --port 3000

  node2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blockchain-node2
    ports:
      - "3001:3001"
    environment:
      - NODE_PORT=3001
      - NODE_NAME=node2
      - PEERS=node1:3000,node3:3002
    networks:
      - blockchain-network
    volumes:
      - ./data/node2:/app/data
    command: ./node --port 3001

  node3:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blockchain-node3
    ports:
      - "3002:3002"
    environment:
      - NODE_PORT=3002
      - NODE_NAME=node3
      - PEERS=node1:3000,node2:3001
    networks:
      - blockchain-network
    volumes:
      - ./data/node3:/app/data
    command: ./node --port 3002

  explorer:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blockchain-explorer
    ports:
      - "8080:8080"
    environment:
      - NODE_ADDRESS=node1:3000
      - EXPLORER_PORT=8080
    networks:
      - blockchain-network
    command: ./explorer --node-address node1:3000 --port 8080

networks:
  blockchain-network:
    driver: bridge

